<!DOCTYPE html>

<head>
    <title>whatsgood</title>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<nav>
    <ul>
        <li><a id="title" href="/"><h1 style="display: inline-block;">whatsgood</h1></a></li>
        <li><a class="navbar" href="/topics">Kanavat</a></li>
        <li><a class="navbar" href="/privatetopics">Omat keskustelut</a></li>
        <li><a class="navbar" href="/info">Info</a></li>
        {% if session.username %}
        <li>
            <p>Kirjautunut käyttäjällä {{ session.username }}
            {% if session.admin %}
                (ylläpitäjä)
            {% endif %}
            </p>
        </li>
        <li>
            <a class="navbar" href="/logout">Kirjaudu ulos</a>
        </li>
        {% else %}
        <li><a class="navbar" href="/loggingin">Kirjaudu sisään</a></li>
        <li><a class="navbar" href="/createuser">Rekisteröidy</a></li>
        {% endif %}
    </ul>
</nav>

<body>

{% block content %}
{% endblock %}

</body>

<footer>
    
</footer>