{% extends "base.html" %}

{% block content %}

    {% for message in get_flashed_messages() %}
    <div class="flashmessage">
        <b>{{ message }}</b>
        <a class="flashbutton" href="/closeflash/{{ 1 }}"><b>x</b></a>
    </div>
    {% endfor %}

    <div>
        <form action="/savenewuser" method="POST">
            <p>Luo käyttäjä:</p>
            <input class="text-input" type="text" name="username" placeholder="Käyttäjätunnus">
            <br>
            <input class="text-input" type="password" name="password" placeholder="Salasana">
            <br>
            <input class="form-submit-button" type="submit" value="Rekisteröidy">
        </form>
    </div>

{% endblock %}