{% extends "base.html" %}

{% block content%}
    <h3>Tietoja sovelluksesta</h3>
    <div style="padding-left: .5em;">
        <p>
            <b>Käyttäjämäärä:</b> {{ total_users }}
        </p>
        <p>
            <b>Kanavia yhteensä:</b> {{ total_topics }}
        </p>
        <p>
            <b>Keskusteluita yhteensä:</b> {{ total_discussions }}
        </p>
        <p>
            <b>Kommentteja yhteensä:</b> {{ total_comments }}
        </p>
        <p>
            <b>Kommentoiduin keskustelu:</b>
        </p>
    </div>
    <div class="topic">
        {% for user in users %}
        {% if user.id == top_discussion.creator_id %}
            {% if user.admin %}
                <p><u><b>(ADMIN) {{ user.username }}</b>
            {% else %}
                <p><u><b>{{ user.username }}</b>
            {% endif %}
            {% endif %}
        {% endfor %}
                
        {{ top_discussion.time.strftime("%d.%m.%Y %H:%M:%S") }}</u></p>
        <p style="margin:0;"><b>{{ top_discussion.title }}</b>
        <br>
        {{ top_discussion.comment }}</p>  
        
        <p><b> {{comment_count}} kommenttia </b></p>
    </div>

{% endblock %}