{% extends "base.html" %}

{% block content %}
    <div class="inlineblockdiv" style="margin-bottom: .5em;">
        <h2>Hakusanasi: <i>"{{ content }}"</i></h2>
        {% if comments|length == 0 and discussions|length == 0 %}
            <p>Tällä hakusanalla ei löytynyt mitään</p>
        {% endif %}
    </div>
        {% for discussion in discussions %}
            <div class="topic">
                <p><b>{{ discussion.title }}</b></p>
                <p>{{ discussion.comment }}</p>
                <p><i>Julkaistu keskustelualueella {{ discussion.topic }} {{ discussion.time.strftime("%d.%m.%Y %H:%M:%S") }}</i></p>
            </div>
        {% endfor %}
        
        {% for comment in comments %}
            {% for discussion in all_discussions %}
                {% if comment.discussion_id == discussion.id %}
                    <div class="topic">
                        <p>{{ comment.content }}</p>
                        <p>
                        <i>Käyttäjän {{ comment.creator_name }} kommentti
                            keskustelussa "{{ discussion.title }}" ({{ discussion.topic }})
                            </i>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
{% endblock %}