body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #ffffff;
    padding-bottom: 75px;
}

/* base */

.header {
    background: #C0C0C0;
    position: relative;
    padding-top: 0.75em;
    padding-left: 1.5em;
    padding-bottom: 0.75em;
    border-bottom: solid;
    border-top: solid;
    margin-bottom: .5em
}

.footerdiv {
    display: inline-block;
}

footer {
    padding: .5em;
    background: #C0C0C0;
    margin-top: .5em;
    border-top: solid;
    border-bottom: solid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 50px
}

/* front page */

.loginform {
    padding: 2em;
    margin: auto;
    display: grid;
    grid-row-gap: .3em;
    grid-template-columns: 12em;
}

.logintext {
    width: 20em;
    height: 20em
}

.frontpage {
    display: flex;
    float: left;
}

/* topic page */

.topicpagetop {
    display: inline-block;
    padding: .5em;
    font-size: large;
}

.inlineblockdiv {
    display: inline-block;
    padding: .3em
}

#topiclist {
    margin-top: 1em
}

.searchbar {
    float: right;
    grid-row-gap: .3em;
    grid-template-columns: 12em;
    padding-right: .5em;
    padding-top: .5em;
}

.topic {
    background-color: #87CEEB;
    border: solid;
    border-radius: .5em;
    padding-left: .5em;
    margin-bottom: .3em;
    margin-left: .5em;
    margin-right: .5em;
}

/*  */

/* menu */
nav {
    background-color: #C0C0C0;
    border-top: solid;
    border-bottom: solid;
    width: 100%;
}


nav li {
    display: inline-block;
    margin: .4em
}

nav li a {
    text-decoration: none;
    border: solid;
    border-radius: .5em;
    padding: .5em;
    color: #000;
    background-color: white;
}

nav li a:hover {
    background-color: rgb(226, 226, 226);
}

/* random */

hr {
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3px;
}

h2 {
    padding-left: .5em;
}

h3 {
    padding-left: .5em;
}

p {
    padding-left: .5em;
}

.button {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: .5em;
    border: solid;
    border-width: .1em;
    padding: .15em
}

.form-submit-button {
    background: white;
    color: black;
    border: .1em solid black;
    border-radius: .5em;
    text-shadow: none;
    margin: .5em;
}

.form-submit-button:hover {
    background: rgb(226, 226, 226);
    color: black;
    border: .1em solid black;
    border-radius: .5em;
    text-shadow: none;
    }

.form-text {
    padding: 15px;
    border-radius: 10px;
    border: .1em solid black;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
    margin: .5em
}

.text-input {
    margin-left: .5em;
    margin-top: .5em;
    border: .1em solid black;
    border-radius: 10px;
    padding: .3em
  }