body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(75, 204, 247);
}

div {
    background-color: rgb(36, 129, 190);
    max-width: 100%;
}