{% extends "base.html"%}

{% block content %}
    {% for user in users %}
        {% if user.id == discussion.creator_id %}
            {% if user.admin %}
                <div style="display: inline-block;">
                    <h3>Käyttäjä (ADMIN) {{ user.username }} kirjoitti {{ discussion.time.strftime("%d.%m.%Y %H:%M:%S") }}</h3>
                </div>
            {% else %}
                <div style="display: inline-block;">
                    <h3>Käyttäjä {{ user.username }} kirjoitti {{ discussion.time.strftime("%d.%m.%Y %H:%M:%S") }}</h3>
                </div>
            {% endif %}
            <div style="display: inline-block;">
                <form action="/forum/{{ return_id }}">
                    <input class="form-submit-button" type="submit" value="Takaisin" name="return"/>
                </form>
            </div>
            <p>{{ discussion.comment }}</p>
        {% endif %}
    {% endfor %}
        <hr>

    <form action="/postcomment/{{ discussion.id }}" method="POST">
        <textarea class="form-text" name="content" rows="3" cols="40" placeholder="Uusi kommentti"></textarea>
        <br>
        <input class="form-submit-button" type="submit" value="Kommentoi">
        <br>
    </form>
    <div>
        <hr>
        <p><b>Kommentit:</b></p>
        {% for comment in comments %}
            <div class="topic">
                {% for user in users %}
                    {% if user.id == comment.creator_id %}
                    <p><b><u>{{ user.username }} <i>{{ comment.time.strftime("%d.%m.%Y %H:%M:%S") }}</i></u></b></p>
                    <p>{{ comment.content }}</p>
                        {% if user.username == logged_user or session.admin %}
                            <p><a class="forumbutton" href="/removecomment/{{ comment.id }}">Poista kommentti</a></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}