{% extends "base.html"%}

{% block content %}
    <div>
        {% for user in users %}
            {% if user.id == discussion.creator_id %}
                {% if user.admin %}
                    <h3>Käyttäjä (ADMIN) {{ user.username }} kirjoitti {{ discussion.time.strftime("%d.%m.%Y %H:%M:%S") }}</h3>
                    {{ discussion.comment }}
                {% else %}
                    <h3>Käyttäjä {{ user.username }} kirjoitti {{ discussion.time.strftime("%d.%m.%Y %H:%M:%S") }}</h3>
                    {{ discussion.comment }}
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <hr>
    </div>

    <form action="/postcomment/{{ discussion.id }}" method="POST">
        <textarea class="form-text" name="content" rows="3" cols="40" placeholder="Uusi kommentti"></textarea>
        <br>
        <input class="form-submit-button" type="submit" value="Kommentoi">
        <br>
    </form>
    <form action="/forum/{{ return_id }}">
        <input class="form-submit-button" type="submit" value="Takaisin" name="return"/>
    </form>
    <div>
        <hr>
        <b>Kommentit:</b><br>
        {% for comment in comments %}
            {% for user in users %}
                {% if user.id == comment.creator_id %}
                <u>{{ user.username }} <i>{{ comment.time.strftime("%d.%m.%Y %H:%M:%S") }}</i></u>
                <br> 
                {{ comment.content }}
                    {% if user.username == logged_user or session.admin %}
                    <br>
                    <a href="/removecomment/{{ comment.id }}">Poista kommentti</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <br><br>
        {% endfor %}
    </div>
{% endblock %}