<!DOCTYPE html>

<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="header">
    <h2>Keskustelusovellus</h2>
</div>

<body>

{% block content %}
{% endblock %}

</body>

<footer>
    <div class="footerdiv">
        {% if session.username %}
        <p>Olet kirjautunut käyttäjällä {{ session.username }}
        {% if session.admin %}
            (ylläpitäjä)
        {% endif %}</p>
    </div>
    <div class="footerdiv">
        <form action="/logout">
            <input type="submit" value="Kirjaudu ulos" name="logout"/>
        </form>
    </div>
    {% endif %}
</footer>