<!DOCTYPE html>

<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<nav>
    <ul>
        <li><h1>Keskustelusovellus</h1></li>
        <li><a href="/">Etusivu</a></li>
        <li><a href="/topics">Kanavat</a></li>
        <li><a href="/privatetopics">Omat keskustelut</a></li>
        {% if session.username %}
        <li>
            <p>Kirjautunut käyttäjällä {{ session.username }}
            {% if session.admin %}
                (ylläpitäjä)
            {% endif %}
            </p>
        </li>
        <li>
            <a href="/logout">Kirjaudu ulos</a>
        </li>
        {% endif %}
    </ul>
</nav>

<body>

{% block content %}
{% endblock %}

</body>