<!DOCTYPE html>

<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <h2>Keskustelut</h2>
    </div>

    <div>
        <hr>
        {% for discussion in discussions %}
        {% for user in users %}
            {% if user.id == discussion.creator_id %}
            <u><b>{{ user.username }}</b>
            {% endif %}
        {% endfor %}

        {{ discussion.time.strftime("%d.%m.%Y %H:%M:%S") }}</u>
        <br><br>
        {{ discussion.comment }} <b>#{{ discussion.topic }}</b>
        <br><br>
        <a href="/addcomment/{{ discussion.id }}">Kommentit</a>
        {% set ns = namespace(c = 0) %}
        {% for comment in comments %}
            {% if discussion.id == comment.discussion_id %}
            {% set ns.c = ns.c + 1 %}
        {% endif %}
        {% endfor %}
        ({{ ns.c }})
        <br>
        {% for user in users %}
            {% if user.id == discussion.creator_id %}
                {% if user.username == logged_user %}
                <a href="/remove/{{ discussion.id }}">Poista keskustelu</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <hr>
        {% endfor %}
    </div>

    <a href="/newdiscussion/{{ topic_id }}">Uusi keskustelu</a><br>
    {% if session.username %}
    <div>
        <p>Olet kirjautunut käyttäjällä {{ session.username }}</p>
    </div>
    {% endif %}
    <form action="/topics">
        <input type="submit" value="Takaisin" name="topics"/>
    </form>
    <br>
    <form action="/logout">
        <input type="submit" value="Kirjaudu ulos" name="logout"/>
    </form>
</body>