<!DOCTYPE html>

<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <p>Tänne tulee keskustelualueet</p>
    </div>

    <div>
        <p>Keskustelut</p>
        <hr>
        {% for message in messages %}
        {{ message.content }}
        <hr>
        {% endfor %}
    </div>

    <a href="/new">Uusi keskustelu</a>

    <form action="/">
        <input type="submit" value="Kirjaudu ulos" name="logout"/>
    </form>
</body>