<!DOCTYPE html>

<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <h2>Keskustelut</h2>
    </div>

    <div>
        <hr>
        {% for discussion in discussions %}
        Aihe: {{ discussion.topic }} <br>
        Keskustelun avaus: {{ discussion.comment }} <br>
        <hr>
        Vastaukset: <br>
        {% for comment in comments %}
        {% if discussion.id == comment.discussion_id %}
        {{ comment.content }}<br>
        {% endif %}
        {% endfor %}
        <hr>
        <a href="/addcomment/{{ discussion.id }}">Lisää kommentti</a>
        <br>
        <a href="/remove/{{ discussion.id }}">Poista keskustelu</a>
        <hr>
        {% endfor %}
    </div>

    <a href="/newdiscussion">Uusi keskustelu</a>

    <form action="/">
        <input type="submit" value="Kirjaudu ulos" name="logout"/>
    </form>
</body>