{% extends "base.html" %}

{% block content %}
    
<div class="frontpage">
     <form class="loginform" action="/login" method="POST">
         <label for="username">Kirjaudu sisään:</label>
         <input type="text" name="username" placeholder="Käyttäjätunnus">
         <input type="password" name="password" placeholder="Salasana">
         <input type="submit" value="Kirjaudu">
     </form>
     <div>
         <p>Hei ja tervetuloa! Täällä keskustellaan kaikesta ja kaikista.<br>
            Uusi käyttäjä?
         </p>
         <a href="/createuser">Rekisteröidy</a>
     </div>
</div>
{% endblock %}
