{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="flashmessage">
    <b>{{ message }}</b>
    <a class="flashbutton" href="/closeflash/{{ 2 }}"><b>x</b></a>
</div>
{% endfor %}
    
<div class="frontpage">
     <form class="loginform" action="/login" method="POST">
         <label for="username">Kirjaudu sisään:</label>
         <input class="text-input" type="text" name="username" placeholder="Käyttäjätunnus">
         <input class="text-input" type="password" name="password" placeholder="Salasana">
         <input class="form-submit-button" type="submit" value="Kirjaudu">
     </form>
</div>
{% endblock %}
