<!DOCTYPE html>

<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Keskustelusovellus</h1>

    <div>
        <p>tervetuloa</p>
        <p>täällä keskustellaan kaikesta ja kaikista</p>
        <img src="https://images.fineartamerica.com/images-medium-large-5/computer-cat-andee-photography.jpg" alt="computer cat" style="width:300px;height:200px;"/>
    </div>

    <form action="/forum" method="POST">
        Kirjaudu sisään:
        <input type="text" name="username">
        <br>
        <input type="submit" value="Kirjaudu">
    </form>
</body>
