{% extends "base.html"%}

{% block content %}
    <div class="inlineblockdiv">
        <h3>{{ chat.title }}</h3>
    </div>
    <div class="inlineblockdiv">
        {% for user in users %}
            {% if user.username == users[-1].username%}
                {{ user.username }}
            {% else %}
                {{ user.username }} ja
            {% endif %}
        {% endfor %}
    </div>
    <div class="inlineblockdiv">
        <form action="/privatetopics">
            <input class="form-submit-button" type="submit" value="Takaisin" name="return"/>
        </form>
    </div>
    
    <form action="/addprivatecomment/{{ chat.id }}" method="POST">
        <textarea class="form-text" name="content" rows="3" cols="40" placeholder="Uusi viesti"></textarea>
        <br>
        <input class="form-submit-button" type="submit" value="Lähetä">
    </form>

    {% for comment in comments %}
    <div class="topic">
        {% for user in users %}
            {% if user.id == comment.creator_id %}
                {% if user.admin %}
                    <p><u><b>(ADMIN) {{ user.username }}</b>
                {% else %}
                    <p><u><b>{{ user.username }}</b>
                {% endif %}
            {% endif %}
        {% endfor %}

        {{ comment.time.strftime("%d.%m.%Y %H:%M:%S") }}</u></p>
        <p>{{ comment.content }}</p>
        {% if session.admin %}
            <p><a href="/removeprivatecomment/{{ comment.id }}">Poista kommentti</a></p>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}