<!DOCTYPE html>
<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form action="/postcomment/{{ discussion.id }}" method="POST">
        <h2>Uusi kommentti</h2>
        <br>
        <textarea name="content" rows="3" cols="40" placeholder="Kirjoita jotain"></textarea>
        <br>
        <input type="submit" value="Luo kommentti">
        <br>
        <form action="/forum">
            <input type="submit" value="Takaisin" name="return"/>
        </form>
        <hr>
    </form>
    <div>
        <h3>Aihe: {{ discussion.topic }}</h3>
        <br>
        <b>Vastaukset:</b><br>
        <hr>
        {% for comment in comments %}
        {{ comment.content }}
        <a href="/removecomment/{{ comment.id }}">Poista kommentti</a>
        <hr>
        <br>
        {% endfor %}
    </div>
</body>