{% extends "base.html" %}

{% block content%}
    <form action="/postdiscussion/{{ return_id }}" method="POST">
        <h2>Uusi keskustelu</h2>
        Keskustelun aihe: {{ topic }}
        <br>
        <input type="text" name="title" placeholder="Otsikko">
        <br>
        <textarea name="comment" rows="3" cols="40" placeholder="Kirjoita jotakin:"></textarea>
        <br>
        <input type="submit" value="Luo keskustelu">
    </form>
    <form action="/forum/{{ return_id }}">
        <input type="submit" value="Takaisin" name="return"/>
    </form>
{% endblock %}