{% extends "base.html" %}

{% block content %}

<div class="inlineblockdiv">
    {% if session.admin %}
    <form action="/newprivatetopic">
        <input type="submit" name="newtopic" value="Lisää uusi">
    </form>
    {% endif %}
</div>

{% for discussion in private_discussions %}
    <div class="topic">
        <p>{{ discussion.title }}</p>
        {% if session.admin %}
        <p><a href="/removeprivatetopic/{{ discussion.id }}">Poista</a></p>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}