{% extends "base.html" %}

{% block content %}
    <div>
        <h2>Hakusanasi: <i>"{{ content }}"</i></h2>
        {% if comments|length == 0 and discussions|length == 0 %}
            Tällä hakusanalla ei löytynyt mitään
            <br><br>
        {% endif %}

        {% for discussion in discussions %}
            <b>{{ discussion.title }}</b>
            <br>
            {{ discussion.comment }}
            <br>
            <i>Julkaistu keskustelualueella {{ discussion.topic }} {{ discussion.time.strftime("%d.%m.%Y %H:%M:%S") }}</i>
            <hr>
        {% endfor %}
        
        {% for comment in comments %}
            {% for discussion in all_discussions %}
                {% if comment.discussion_id == discussion.id %}
                    {{ comment.content }}
                    <br>
                    <i>Käyttäjän {{ comment.creator_name }} kommentti
                    keskustelussa "{{ discussion.title }}" ({{ discussion.topic }})
                    </i>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <form action="/topics">
        <input type="submit" value="Takaisin" name="topics"/>
    </form>
{% endblock %}