{% extends "base.html" %}

{% block content%}

<div class="topicpagetop">
    <b>Kanavat</b>
</div>
<div class="topicpagetop">
    {% if session.admin %}
        <a href="/newtopic">Lisää uusi</a> 
    {% endif %}
</div>
    <form class="searchbar" action="/search" method="POST">
        <input type="text" name="searchbar" placeholder="Etsi sivulta...">
        <input type="submit" value="Etsi">
    </form>

<div>
    {% for topic in topics %}
        {% set ns = namespace(c = 0) %}
        {% for discussion in discussions %}
            {% if topic.name == discussion.topic %}
                {% set ns.c = ns.c + 1 %}
            {% endif %}
        {% endfor %}
        <div class="topic">
            <p><a href="/forum/{{ topic.id }}">{{ topic.name }} ({{ ns.c }})</a></p>
            {% if topic.lastactivity is not none %}
            <p>Aktiivinen viimeksi: {{ topic.lastactivity.strftime("%d.%m.%Y %H:%M:%S") }}</p>
            {% endif %}
        
            {% if session.admin %}
            <a href="/removetopic/{{ topic.id }}">Poista keskustelualue</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}