{% extends "base.html" %}

{% block content%}
<div class="inlineblockdiv">
    <h3>Kanavat</h3>
</div>

<div class="inlineblockdiv">
    {% if session.admin %}
    <form action="/newtopic">
        <input class="form-submit-button" type="submit" name="newtopic" value="Lisää uusi">
    </form>
    {% endif %}
</div>
    <form class="searchbar" action="/search" method="POST">
        <input name="content" placeholder="Etsi sivulta...">
        <input type="submit" value="Etsi">
    </form>

<div id="topiclist">
    {% for topic in topics %}
        {% set ns = namespace(c = 0) %}
        {% for discussion in discussions %}
            {% if topic.name == discussion.topic %}
                {% set ns.c = ns.c + 1 %}
            {% endif %}
        {% endfor %}
        <div class="topic">
            <p><a class="button" href="/forum/{{ topic.id }}">{{ topic.name }} ({{ ns.c }})</a></p>
            {% if topic.lastactivity is not none %}
            <p>Aktiivinen viimeksi: {{ topic.lastactivity.strftime("%d.%m.%Y %H:%M:%S") }}</p>
            {% endif %}
        
            {% if session.admin %}
            <p><a class="button" href="/removetopic/{{ topic.id }}">Poista kanava</a></p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}