<!DOCTYPE html>

<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>Keskustelualueet</h2>
    <hr>
    <div>
        {% for topic in topics %}

            {% set ns = namespace(c = 0) %}
            {% for discussion in discussions %}
                {% if topic.name == discussion.topic %}
                {% set ns.c = ns.c + 1 %}
            {% endif %}
            {% endfor %}
            
            <a href="/forum/{{ topic.id }}">{{ topic.name }}</a> ({{ ns.c }})
        <hr>
        {% endfor %}
    </div>

    {% if session.username %}
    <div>
    Olet kirjautunut käyttäjällä {{ session.username }}
    </div>
    {% endif %}

    <form action="/logout">
        <input type="submit" value="Kirjaudu ulos" name="logout"/>
    </form>
</body>