<!DOCTYPE html>

<head>
    <title>Messenger</title>
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>Muokkaa keskustelua</h2>
    <form action="/postdiscussionupdate/{{ discussion_id }}" method="POST">
        <input type="text" name="title" placeholder="Otsikko">
        <br>
        <textarea name="comment" rows="3" cols="40" placeholder="Sisältö"></textarea>
        <br>
        <input type="submit" value="Tallenna">
        <br>
    </form>
    <form action="/forum/{{ topic_id }}">
        <input type="submit" value="Takaisin" name="return"/>
    </form>
</body>